<div class="main">
    <div class="section">
      <div class="attributes">
        <div class="scores">
          <ul>
            <li *ngFor='let item of [{label:"Força", key:"str"},{label:"Destreza", key:"dex"},{label:"Constituição", key:"con"},{label:"Sabedoria", key:"wis"},{label:"Inteligência", key:"int"},{label:"Carisma", key:"cha"}]'>
              <div class="score">
                <span class="score-label">{{item.label}}</span>
                <span class="score-input">{{character.attributes.score[item.key].value}}</span>
              </div>
              <div class="modifier">
                <div class="modifier-input">{{character.attributes.score[item.key].modifier}}</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="attr-applications">
          <div class="inspiration">
            <div class="label-container">
              <div class="inspiration-label">Inspiration</div>
            </div>
            <span class="inspiration-input">+0</span>
          </div>
          <div class="inspiration">
            <div class="label-container">
              <div class="inspiration-label">Proficiency Bonus</div>
            </div>
            <span class="inspiration-input">+{{character.attributes.proficiencyBonus}}</span>
          </div>
          <div class="saves list-section">
            <ul>
              <li *ngFor='let item of [{label:"Força", key:"str"},{label:"Destreza", key:"dex"},{label:"Constituição", key:"con"},{label:"Sabedoria", key:"wis"},{label:"Inteligência", key:"int"},{label:"Carisma", key:"cha"}]'>
                <mat-checkbox color="primary" [checked]="character.attributes.saves[item.key].checked" ></mat-checkbox>
                <div class="saves-label">{{item.label}}</div>
                <div class="saves-input">{{character.attributes.saves[item.key].value}}</div>
              </li>
            </ul>
            <div class="label">Saving Throws</div>
          </div>
          <div class="skills list-section box">
            <ul>
              <li *ngFor="let skill of skills">
                <mat-checkbox color="primary" [checked]="character.attributes.skills[skill.key].checked"></mat-checkbox>
                <div class="saves-label">{{skill.name}}<span class="skill">({{skill.attr}})</span></div>
                <div class="saves-input">{{character.attributes.skills[skill.key].value}}</div>
              </li>
            </ul>
            <div class="label">Skills</div>
          </div>
        </div>
      </div>
      <div class="passive-perception box">
        <div class="label-container">
          <div class="perception-label">Sabedoria Passiva (Percepção)</div>
        </div>
        <span class="inspiration-input">{{character.attributes.perception}}</span>
      </div>
      <div class="otherprofs box textblock">
        <div class="label">Other Proficiencies and Languages</div>
        <div class="textarea"></div>
      </div>
    </div>
    <div class="section">
      <div class="combat">
        <div class="armorclass">
          <div>
            <div class="combat-label">AC</div>
            <div class="combat-input"><span>{{character.combat.armorClass}}</span></div>
          </div>
        </div>
        <div class="initiative">
          <div>
            <div class="combat-label">Iniciativa</div>
            <div class="combat-input"><span>{{character.combat.initiative}}</span></div>
          </div>
        </div>
        <div class="speed">
          <div>
            <div class="combat-label">Velocidade</div>
            <div class="combat-input"><span>{{character.combat.speed}}</span></div>
          </div>
        </div>
        <div class="hp">
            <div class="regular">
              <div class="max">
                <div class="max-label">Pontos de Vida Máxima</div>
                <div class="max-input">{{character.combat.maxHitPoint}}</div>
              </div>
              <div class="current">
                <div class="current-label">Pontos de Vida Atuais</div>
                <div class="current-input">{{character.combat.currentHitPoint}}</div>
              </div>
            </div>
            <div class="temporary">
              <div class="temporary-label">Pontos de Vida Temporários</div>
              <div class="temporary-input">{{character.combat.temporaryHitPoint}}</div>
            </div>
        </div>
        <div class="hitdice">
          <div class="dice">
            <div class="total">
              <div class="total-label">Total</div>
              <div class="total-input">{{character.combat.totalDice}}</div>
            </div>
            <div class="remaining">
                <div class="remaining-label">HIT DICE</div>
                <div class="remaining-input">{{character.combat.hitDice}}</div>
              </div>
          </div>
        </div>
        <div class="hitdice">
            <div class="dice">
              <div class="total">
                <div class="total-label">Total</div>
                <div class="total-input"></div>
              </div>
              <div class="remaining">
                  <div class="remaining-label">DEATH SAVES</div>
                  <div class="remaining-input"></div>
                </div>
            </div>
          </div>
      </div>
      <div class="attacksandspellcasting">
        <div>
          <div class="attack-label">Ataques & Magias</div>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Atk Bonus</th>
                <th>Dano/Tipo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of [0,1,2]">
                <td><div class="attack-input">{{character.combat.attacks[item].name}}</div></td>
                <td><div class="attack-input">{{character.combat.attacks[item].bonus}}</div></td>
                <td><div class="attack-input">{{character.combat.attacks[item].damage}}</div></td>
              </tr>
            </tbody>
          </table>
          <div class="attack-textarea"></div>
        </div>
      </div>
      <div class="equipment">
        <div>
          <div class="equipment-label">Equipamentos</div>
          <div class="money">
            <ul>
              <li *ngFor="let type of ['cp', 'sp', 'ep', 'gp', 'pp']">
                <div class="money-label">{{type}}</div>
                <div class="money-input">10</div>
              </li>
            </ul>
          </div>
          <div class="equipment-textarea"></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="flavor">
        <div class="personality">
          <div class="flavor-label">Personalidade</div>
          <div class="flavor-textarea">{{character.flavor.personality}}</div>
        </div>
        <div class="ideals">
          <div class="flavor-label">Ideais</div>
          <div class="flavor-textarea">{{character.flavor.ideals}}</div>
        </div>
        <div class="bonds">
          <div class="flavor-label">Laços</div>
          <div class="flavor-textarea">{{character.flavor.bonds}}</div>
        </div>
        <div class="flaws">
          <div class="flavor-label">Falhas</div>
          <div class="flavor-textarea">{{character.flavor.flaws}}</div>
        </div>
      </div>
      <div class="features">
        <div class="features-box">
          <div class="features-label">Features & Traits</div>
          <div class="features-textarea"></div>
        </div>
      </div>
    </div>
  </div>
