<div>
    <div class="container">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Nome</div>
            <div class="col col-2">Init</div>
            <div class="col col-3">HP</div>
          </li>
          <li class="table-row">
            <div class="col col-1" data-label="Nome">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Escolha um</mat-label>
                      <input type="text"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                          {{option.name}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
            </div>
            <div class="col col-2" data-label="Init"><input class="input-row" [formControl]="initFormControl"></div>
            <div class="col col-3" data-label="HP"><input class="input-row" [formControl]="hpFormControl"></div>
          </li>
        </ul>
        <button class="button-end" mat-flat-button color="primary" (click)="addToCombat()">Adicionar Combatente</button>
      </div>
</div>
