.banner-container {
  height: 50vh;
}
.monsters-container {
  min-width: 100%;
  width: fit-content;
  min-height: 100%;

}
.table-container {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}
.container {
  background: #D3D3D3;
}
