<div class="container">
    <img [src]="data.image" class="character-icon">
  <h1 mat-dialog-title>{{data.name}}</h1>
  <div mat-dialog-content>
    <p>Vida Atual: {{data.hp}}</p>
    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input matInput [(ngModel)]="number">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="updateHP('minus')" cdkFocusInitial>Dano</button>
    <button mat-button [mat-dialog-close]="updateHP('plus')" cdkFocusInitial>Cura</button>
  </div>
</div>
