.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  mat-form-field {
    width: 100px;
  }
  .character-icon {
    width: 50px;
    border: 3px solid #683ab6;
    margin: 5px;
  }
}
