<div class="header">
  <div class="charname">
    <span class="charname-label">NOME DO PERSONAGEM</span>
    <span class="charname-input">{{character.charname || ''}}</span>
  </div>
  <div class="misc">
    <ul>
      <li>
        <span class="misc-label">Classe & Level</span>
        <span class="misc-input">{{character.class || ''}}</span>
      </li>
      <li>
        <span class="misc-label">Background</span>
        <span class="misc-input">{{character.background || ''}}</span>
      </li>
      <li>
        <span class="misc-label">Nome do Jogador</span>
        <span class="misc-input">{{character.player || ''}}</span>
      </li>
      <li>
        <span class="misc-label">Raça</span>
        <span class="misc-input">{{character.race || ''}}</span>
      </li>
      <li>
        <span class="misc-label">Tendências</span>
        <span class="misc-input">{{character.alignment || ''}}</span>
      </li>
      <li>
        <span class="misc-label">Pontos de Experiência</span>
        <span class="misc-input">{{character.experience || ''}}</span>
      </li>
    </ul>
  </div>
</div>
