<div class="home-container">
  <div class="banner-container">
    <app-paralax-banner [data]="combatBanner"></app-paralax-banner>
  </div>
  <div class="combat-container">
    <div class="header-combat">
      <div class="dummy"></div>
      <button mat-mini-fab color="primary" (click)="openAddContent()">
          <mat-icon>{{addContent? "close" : "add"}}</mat-icon>
      </button>
    </div>
    <div class="add-content-container" *ngIf="addContent">
      <app-add-combatant [monsters]="monsters" [charactes]="charactes" (addElement)="addToCombatArray($event)"></app-add-combatant>
    </div>
    <app-combate-table [dataSource]="newCombatant"></app-combate-table>
  </div>
</div>
