.banner-container {
  height: 30vh;
}
.home-container {
  background: #D3D3D3;
  width: 100%;
  min-height: 100%;
}
.combat-container {
  padding: 20px;
  padding-left: 50px;
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
.header-combat {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.turn-counter {
  padding-left: 40px;
}

@media (max-width: 600px) {
  .combat-container {
    padding-left: 10px !important;
  }
}
