.home-banner {
  background-image: url('./../../../assets/imagens/home-illustration.jpg');
}
.characters-banner {
  background-image: url('./../../../assets/imagens/characters-card.png');
}
.campanha-banner {
  background-image: url('./../../../assets/imagens/campanha-card.png');
}
.monsters-banner {
  background-image: url('./../../../assets/imagens/monsters-card.jpg');
}
.banner {
    position: relative;
    opacity: 0.80;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
.caption {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  width: fit-content;
}
span.sub-caption {
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}
