.banner-container {
  height: 50vh;
}
.home-container {
  background: #D3D3D3;
  width: 100%;
  min-height: 100%;
}
.card-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
  }
}
