.example-card {
  max-width: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
  background: #683ab6;
  color: white;
}
.text-container {
  text-align: center;
  .text-card {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
.big-card {
  max-width: 400px;
}
img.card {
  max-height: 187px;
  max-height: 144px;
}
